#app-root {
    display: flex;
    flex-direction: column;
    width: 500px;
    min-height: 100%;
    flex: 1;

    .header-container {
        display: flex;
        justify-content: center;
        min-height: 100px;
        flex: 1;
    }

    .board-container {
        display: flex;
        justify-content: center;
        padding: 50px 0 50px 0;

        .board {
            display: flex;
            flex-direction: column;

            .row {
                display: flex;
                flex-direction: row;

                .tile {
                    margin: 5px;
                    min-width: 50px;
                    min-height: 50px;
                    outline: 2px solid black;
                }
            }
        }
    }

    .keyboard-container {
        display: flex;
        justify-content: center;
        min-height: 300px;
        flex: 1;
    }
}